# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Misc
.DS_Store
*.pem
*.log

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Debug
npm-debug.log*

# Prisma
frontend/prisma/migrations/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
mysql_data/
redis_data/

# Logs
logs/

# OS
Thumbs.db
